/* TABLE CONTAINER */
.dataTableContainer {
    
}

/* TABLE CONTENT */
.dataTableContent {
    width: 100%;
    overflow: auto;
    max-height: 600px;
    position: relative;
}

/* TABLE VIEW */
.dataTableView {
    table-layout: auto !important;
    position: relative;
}

/* TABLE BODY */
.dataTableBody {

}

/* TABLE ROW */
.dataTableRow {
    height: 52px !important;
}
.dataTableRow td {
    height: 20px !important;
    white-space:nowrap;
}
.dataTableRow td.selector {
    width: 40px;
    text-align: center;
}
.dataTableRow td.num {
    min-width: 40px !important;
    text-align: center;
}
.dataTableRow td:not(:first-child):not(:nth-child(2)) {
    min-width: 120px;
    max-width: 300px;
}
.dataTableRow td:first-child {
    min-width: 50px !important;
}
.dataTableRow td input:focus {
    outline: none;
    box-shadow: none;
    text-shadow: none;
}
.dataTableRow .form-control-static {
    padding-left: 13px;
    padding-top: 8px !important;
    height: 24px;
    min-height: 10px;
}
.dataTableRow.active,
.dataTableRow.active td {
    color: lightgrey;
    background: #f5f5f5 !important;
}
.dataTableRow.active:hover,
.dataTableRow.active:hover td {
    background: #f5f5f5 !important;
    cursor: default;
}

/* TABLE COLUMN */
.dataTableColumn {

}

/* TABLE HEADER */
.dataTableHeader {
    position: relative;
}
.dataTableHeader .num {
    text-align: center;
}
.dataTableHeader tr th:hover {
    color: #777;
    cursor: pointer;
}
.dataTableHeader tr th.ascd {
    background: #ddd;
}
.dataTableHeader tr th.ascd:before {
    content: '▲';
    width: 20px;
    font-size: 10px;
    height: 20px;
    position: relative;
    margin-right: 5px;
}
.dataTableHeader tr th.desc:before {
    content: '▼';
    width: 20px;
    font-size: 10px;
    height: 20px;
    position: relative;
    margin-right: 5px;
}

/* TABLE FOOTER */
.dataTableFooter {

}

/* TABLE PAGINATION */
.dataTablePagination {

}
.dataTablePagination .form-control{
    -webkit-appearance:none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.dataTablePagination .leftArrow,
.dataTablePagination .showPosition,
.dataTablePagination .rightArrow {
    display: inline-block;
}
[class*="Arrow"] {
    height: 34px;
    width: 34px;
    text-align: center;
    line-height: 30px;
    color: #777;
}
[class*="Arrow"]:hover {
    color: #000;
    cursor: pointer;
}
[class*="Arrow"].inactive,
[class*="Arrow"].inactive:hover {
    color: #ccc;
    cursor: default;
}










/*
.dataTableBody {
    position: relative;
    display: block;
    z-index: -1000;
    padding-top: 37px;
}
.dataTableFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: block;
    border-top: 1px solid #e1e1e8;
}
*/