.dataTablePagination
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 400px;
    margin: 0 auto;
    text-align: center;

    & .form-control
    {
        -webkit-appearance:none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        width: 50px;
    }

    & .input-group-addon
    {
        width: 0;
    }

    & .position
    {
        display: inline-block;
        height: 25px;
    }

    & .leftArrow,
    & .rightArrow
    {
        height: 34px;
        width: 34px;
        text-align: center;
        line-height: 30px;
        color: #777;
        display: inline-block;

        &:hover
        {
            color: #000;
            cursor: pointer;
        }

        &.inactive,
        &.inactive:hover
        {
            color: #ccc;
            cursor: default;
        }
    }
}

@media (min-width: 860px)
{
    .dataTablePagination .form-control
    {
        width: 50px;
    }
}
