.dataTablePagination {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 400px;
    margin: 0 auto;
    text-align: center;

    & .form-control {
        -webkit-appearance:none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }

    & .showPosition {
        display: inline-block;
    }
}